<div class="container">
    <div class="row">
    	<h1>Customers</h1>
        <div id="no-more-tables">
            <table class="col-md-12 table-bordered table-striped table-condensed cf">
        		<thead class="cf">
        			<tr>
        				<th>Customer ID</th>
        				<th>Created</th>
        				<th>Created In</th>
        				<th>Email</th>
        				<th>Name</th>
        				<th>Manage</th>
        			</tr>
        		</thead>
        		<tbody>
        			<% @customers[:item].each do |customer| %>
        			<tr>
        				<td><%= customer[:customer_id] %></td>
        				<td><%= customer[:created_at] %></td>
        				<td><%= customer[:created_in] %></td>
        				<td><%= customer[:email] %></td>
        				<td><%= customer[:firstname]+ ' ' +customer[:lastname] %></td>
        				<td>
    						<a href="view/<%= customer[:customer_id] %>" class="label label-info">View</a>
    						<a href="update/<%= customer[:customer_id] %>" class="label label-primary">Update</a>
    						<a href="delete/<%= customer[:customer_id] %>" class="label label-danger">Delete</a>
						</td>
        			</tr>
        			<% end %>
        		</tbody>
        	</table>
        </div>
    </div>
    <div class="row">
        <p class="bg-success" style="padding:10px;margin-top:20px"><small><a href="<%= root_url %>" class="btn btn-default">Back</a></small></p>
    </div>
</div>