<div class="container">
	<div class="row">
	<h1>Magento Response</h1>
		<a href="customers" class="btn btn-default btn-sm">View Customers</a>
		<a href="orders" class="btn btn-default btn-sm">List Orders</a>
		<a href="#" class="btn btn-default btn-sm">Add New Product</a>
	</div><br>
	<div class="row">
	<table class="col-md-12 table-bordered table-striped table-condensed cf">
		<thead>
			<tr>
				<th>Product ID</th>
				<th>SKU</th>
				<th>Type</th>
				<th>Category</th>
				<th>Manage</th>
			</tr>
		</thead>
		<tbody>
			<% @products[:item].each do |product| %>
			<tr>
				<td><%= product[:product_id] %></td>
				<td><%= product[:sku] %></td>
				<td><%= product[:type] %></td>
				<td><%= product[:category_ids][:item] %></td>
				<td>
					<a href="<%= product_view_path(product[:product_id]) %>" class="label label-info">View</a>
					<a href="update/<%= product[:product_id] %>" class="label label-primary">Edit</a>
					<a href="delete/<%= product[:product_id] %>" class="label label-danger">Delete</a>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	</div>
</div>