<h1>Mangeto Response</h1>
<%#= @products.inspect %>
<%#= @customers.inspect %>
<%#= @orders.inspect %>
	<style>
		td, th{ border: 1px solid #999; }
	</style>
	<a href="#">Add New Product</a>
	<table>
		<thead>
			<tr>
				<th>Product ID</th>
				<th>SKU</th>
				<th>Type</th>
				<th>Category</th>
				<th>Manage</th>
			</tr>
		</thead>
		<tbody>
			<% @products[:item].each do |product| %>
			<tr>
				<td><%= product[:product_id] %></td>
				<td><%= product[:sku] %></td>
				<td><%= product[:type] %></td>
				<td><%= product[:category_ids][:item] %></td>
				<td>
					<a href="view/<%= product[:product_id] %>">View</a>
					<a href="update/<%= product[:product_id] %>">Update</a>
					<a href="delete/<%= product[:product_id] %>">Delete</a>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
