<div class="container">
	<h1>Mangeto Response</h1>
	<div class="row">
	<a href="customers" class="btn btn-default">View Customers</a>
	<a href="orders" class="btn btn-default">List Orders</a>
	<a href="#" class="btn btn-default">Add New Product</a>
	<table class="table-bordered">
		<thead>
			<tr>
				<th>Product ID</th>
				<th>SKU</th>
				<th>Type</th>
				<th>Category</th>
				<th>Manage</th>
			</tr>
		</thead>
		<tbody>
			<% @products[:item].each do |product| %>
			<tr>
				<td><%= product[:product_id] %></td>
				<td><%= product[:sku] %></td>
				<td><%= product[:type] %></td>
				<td><%= product[:category_ids][:item] %></td>
				<td>
					<a href="view/<%= product[:product_id] %>" class="label label-info">View</a>
					<a href="update/<%= product[:product_id] %>" class="label label-primary">Update</a>
					<a href="delete/<%= product[:product_id] %>" class="label label-danger">Delete</a>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	</div>
</div>