<div class="container">
    <div class="row">
    	<h1>Orders</h1>
        <div id="no-more-tables">
            <table class="col-md-12 table-bordered table-striped table-condensed cf">
        		<thead class="cf">
        			<tr>
                        <th>Serial Number</th>
        				<th>Created at</th>
        				<th>Customer ID</th>
        				<th>Tax Amount</th>
        				<th>Shipping Amount</th>
        				<th>Subtotal</th>
                        <th>Grand Total</th>
                        <th>Weight</th>
                        <th>Status</th>
        				<th>Shipping Method</th>
        			</tr>
        		</thead>
        		<tbody>
        			<% @orders[:item].each_with_index do |order, index| %>
                    <tr>
                        <td><%= index %></td>
                        <td><%= order[:created_at] %></td>
                        <td><a href="#"><%= order[:customer_id] %></a></td>
                        <td><%= order[:tax_amount] %></td>
                        <td><%= order[:shipping_amount] %></td>
                        <td><%= order[:subtotal] %></td>
                        <td><%= order[:grand_total] %></td>
                        <td><%= order[:weight] %></td>
                        <td><%= order[:status] %></td>
                        <td><%= order[:shipping_method] %></td>
        			</tr>
        			<% end %>
        		</tbody>
        	</table>
        </div>
    </div>
    <div class="row">
        <p class="bg-success" style="padding:10px;margin-top:20px"><small><a href="<%= root_url %>" class="btn btn-default">Back</a></small></p>
    </div>
</div>